.Members {
	position: relative;
	overflow: hidden;
	.circle1 {
		position: absolute;
		left: -10%;
		top: 7vw;
		width: 30vw;
		height: 30vw;
		border-radius: 100%;
		border: 1px solid rgba(var(--baseColor-code), 0.2);
		animation: scaleanimation 3s infinite 0.5s;
		padding: 5px;
		.inner1 {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			border: 1px solid rgba(var(--baseColor-code), 0.2);
		}
	}
	.circle2 {
		position: absolute;
		left: -20%;
		top: 22vw;
		width: 50vw;
		height: 50vw;
		border-radius: 100%;
		border: 1px solid rgba(var(--baseColor-code), 0.2);
		animation: scaleanimation 3s infinite;
		padding: 5px;
		.inner1 {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			border: 1px solid rgba(var(--baseColor-code), 0.2);
			padding: 5px;
			.inner2 {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				border: 1px solid rgba(var(--baseColor-code), 0.2);
			}
		}
	}
	.circle3 {
		position: absolute;
		right: -40%;
		top: 10vw;
		width: 60vw;
		height: 60vw;
		border-radius: 100%;
		border: 1px solid rgba(var(--baseColor-code), 0.2);
		animation: scaleanimation 3s infinite 0.5s;
		padding: 10px;
		.inner1 {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			border: 1px solid rgba(var(--baseColor-code), 0.2);
		}
	}
	.wrap {
		width: 80%;
		margin: 0 auto;
		height: auto;
		padding: 30px 60px;
		.frame {
			padding: 50px 0 100px;
			width: 100%;
			min-height: 500px;
			border: 2.5px solid rgba(var(--baseColor-code), 0.5);
			h1 {
				margin-bottom: 50px;
				font-family: var(--pointFont);
				color: var(--bgColor);
				font-size: var(--subTitSize0);
				text-align: center;
				text-shadow: 0px 0px 1px var(--baseColor);
			}
			form {
				table {
					margin: 0 auto;
					width: 80%;
					tr {
						&:last-child {
							text-align: center;
						}
						td {
							width: 50%;
							padding: 30px 20px 10px;
							position: relative;
							p {
								font-size: 0.7rem;
								color: var(--pointColor);
								font-family: var(--baseFont);
								margin-top: 8px;
							}
							&::after {
								content: '';
								display: block;
								width: calc(100% - 40px);
								height: 1px;
								background: var(--baseColor);
								opacity: 0.6;
								position: absolute;
								left: 20px;
								bottom: 0;
							}
							input[type='text'],
							input[type='password'],
							textarea {
								width: 80%;
								padding: 10px 0 0;
								border: none;
								background: transparent;
								font-family: var(--baseFont);
								outline: 0;
							}
							select {
								width: 100%;
								border: none;
								background: transparent;
								color: rgba(var(--baseColor-code), 0.7);
								font-family: var(--baseFont);
							}
							label {
								margin-right: 40px;
								font-size: 1rem;
								opacity: 0.7;
							}
							input[type='checkbox'],
							input[type='radio'] {
								margin-right: 10px;
							}
							.button {
								font-family: var(--baseFont);
								border: none;
								margin-right: 15px;
								width: 150px;
								height: 40px;
								font-size: 1rem;
								color: var(--bgColor);
								cursor: pointer;
								transition: 0.5s;
								&:hover {
									background: var(--pointColor);
								}
							}
							input[type='reset'] {
								background: rgba(var(--baseColor-code), 0.5);
							}
							input[type='submit'] {
								background: var(--baseColor);
							}
						}
						&:last-child {
							td::after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.tablet {
	.Members {
		.circle3 {
			top: 30vw;
			width: 65vw;
			height: 65vw;
		}
		.wrap {
			padding: 30px 3vw;
			.frame {
				padding: 6vw 2vw;
				min-height: 300px;
				h1 {
					margin-bottom: 6vw;
					font-size: var(--subTitSize);
				}
				form {
					table {
						width: 100%;
						tr {
							td {
								padding: 4.4vw 3vw 1.5vw;
								p {
									margin-top: 1.2vw;
								}
								&::after {
									width: calc(100% - 6vw);
									left: 3vw;
								}
								input[type='text'],
								input[type='password'],
								textarea {
									width: 100%;
								}
								label {
									margin-right: 3.5vw;
								}
								input[type='checkbox'],
								input[type='radio'] {
									margin-right: 1.6vw;
								}
								.button {
									width: 15vw;
									height: 4.8vw;
									font-size: 2vw;
								}
							}
						}
					}
				}
			}
		}
	}
}

.mobile {
	.Members {
		.circle3 {
			right: -40%;
			top: 50vw;
			width: 70vw;
			height: 70vw;
		}
		.wrap {
			padding: 20px 0;
			.frame {
				padding: 6vw 1vw 10vw;
				min-height: 200px;
				h1 {
					margin-bottom: 6vw;
					font-size: var(--subTitSize2);
				}
				form {
					table {
						width: 100%;
						tr {
							display: flex;
							flex-direction: column;
							&:nth-child(4),
							&:nth-child(5) {
								td {
									padding-bottom: 3vw;
									display: flex;
									flex-wrap: wrap;
									align-items: center;
								}
							}
							td {
								width: 100%;
								padding: 3.5vw 2.5vw 1.5vw;
								p {
									margin-top: 1.2vw;
								}
								&::after {
									width: calc(100% - 5vw);
									left: 2.5vw;
								}
								input[type='text'],
								input[type='password'],
								textarea {
									width: 100%;
									&::placeholder {
										font-size: 0.9rem;
									}
								}
								label {
									margin-right: 1.5vw;
									font-size: 0.76rem;
								}
								input[type='checkbox'],
								input[type='radio'] {
									margin-right: 1vw;
								}
								.button {
									width: 15vw;
									height: 5.4vw;
									font-size: 2.8vw;
								}
							}
						}
					}
				}
			}
		}
	}
}

@keyframes scaleanimation {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.15;
	}
	100% {
		scale: 1;
	}
}
