* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
}
.wrap {
	background: var(--bgColor);
	color: var(--baseColor);
	font-family: var(--baseFont);
	overflow-y: auto;
	width: 100%;
	height: 100vh;
	font-size: var(--bodySize1);
	transition: color 1s, background 1s;
	&::-webkit-scrollbar {
		width: 6px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: var(--pointColor);
	}
}
