@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans:wght@100;200;300;400&display=swap');

:root {
	--baseFont: 'Noto Sans', 'arial', '돋움';
	--pointFont: 'Nanum Myeongjo', 'arial';
	--baseColor: #111;
	--baseColor-code: 18, 18, 18;
	--pointColor: hotpink;
	--bgColor: #efefef;
	--titSize1: 5rem;
	--titSize2: 2rem;
	--bodySize: 1rem;
}
