@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700;900&family=Young+Serif&display=swap');

:root {
	--baseFont: 'Roboto', 'arial', '돋움';
	--pointFont: 'Young Serif', 'arial';
	--baseColor: #111;
	--baseColor-code: 18, 18, 18;
	--baseColorOpposite: white;
	--baseColorOpposite-code: 255, 255, 255;
	--pointColor: rgb(0, 44, 132);
	--pointColor-code: 0, 44, 132;
	--bgColor: #fff;
	--contentBgColor: rgb(238, 246, 255);
	--titSize1: 5rem;
	--titSize2: 3.5em;
	--subTitSize: 2rem;
	--bodySize1: 1rem;
	--bodySize2: 0.8rem;
}
