.Visual {
	width: 100%;
	height: calc(100vh - 90px);
	position: relative;
	margin: 0 auto;
	z-index: 0;

	.swiper {
		width: 100%;
		height: 100%;
		.swiper-wrapper {
			.swiper-slide {
				padding: 100px 0;
				.inner {
					width: 80%;
					height: 100%;
					margin: 0 auto;
					background-color: var(--pointColor);
					color: var(--bgColor);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.swiper-pagination {
			bottom: 40px;
			width: 70%;
			left: 15%;

			span {
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 0 5px;
				border-radius: 5px;
				background-color: var(--baseColor);
				color: var(--bgColor);
				text-indent: -9999px;
				cursor: pointer;
				transition: 0.5s;

				&.swiper-pagination-bullet-active {
					width: 60px;
				}
			}
		}
	}
}
