.Gallery {
	--num: 4;
	--gap: 20px;
	.controls {
		width: 80%;
		margin: 50px auto 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px 5px;

		.btnSet {
			margin-bottom: 30px;
			display: flex;
			gap: 20px;
			button {
				background: transparent;
				border: none;
				cursor: pointer;
				padding: 7px 0px;
				font-size: 1rem;
				color: rgba(var(--baseColor-code), 0.4);
				position: relative;
				transition: 0.5s;

				&::after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 1px;
					background: var(--baseColor);
					transition: 0.5s;
				}
				&.on {
					color: rgba(var(--baseColor-code), 1);
					&::after {
						width: 100%;
					}
				}
			}
		}
		form {
			display: flex;
			align-items: center;
			gap: 10px;

			input {
				width: 120px;
				border: none;
				background: transparent;
				border-bottom: 1px solid rgba(var(--baseColor-code), 0.5);
				padding: 6px 10px;
				outline: 0;
			}
			.btnSearch {
				cursor: pointer;
				border: none;
				background-color: transparent;
				font-size: 1.2rem;
				color: var(--baseColor);
			}
		}
	}

	.frameWrap {
		.frame {
			width: 80%;
			margin: 0 auto;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			gap: var(--gap);
			// article = div.pic에 담긴 이미지 + h2 이미지명 한  덩어리
			article {
				// width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
				width: 23%;
				margin-bottom: 20px;
				border-radius: 20px;
				border: 1px solid rgba(var(--baseColor-code), 0.3);
				overflow: hidden;
				.pic {
					width: 100%;

					img {
						width: 100%;
					}
				}
				.profile {
					padding: 8px 0;
					position: relative;
					img {
						border-radius: 100px;
						position: absolute;
						left: 10%;
						top: -20%;
						cursor: pointer;
					}
					span {
						font-size: 0.7rem;
						font-family: var(--bodyFont);
						color: var(--baseColor);
						background: var(--bgColor);
						margin-left: 65px;
						cursor: pointer;
					}
				}
				h2 {
					font-weight: normal;
					font-family: var(--bodyFont);
					color: var(--baseColor);
					font-size: var(--bodySize0);
					background: var(--bgColor);
					padding: 30px 35px;
				}
			}
		}
	}
}

.laptop {
	.Gallery {
		--num: 3;
		.frame {
			article {
				width: 31%;
			}
		}
	}
}

.tablet {
	.Gallery {
		--num: 2;
		.frame {
			article {
				width: 46%;
			}
		}
	}
}

.mobile {
	.Gallery {
		--num: 1;
		.frame {
			article {
				width: 100%;

				.profile {
					img {
						width: 12vw;
						left: 7vw;
						top: -50%;
					}
					span {
						font-size: 2.4vw;
						margin-left: 23vw;
						margin-top: 0;
						display: inline-block;
					}
				}
				h2 {
					font-size: 4vw;
					padding: 5vw 9vw;
				}
			}
		}
	}
}
