Header {
	width: 70vw;
	padding: 30px 5px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	h1 {
		font-family: var(--pointFont);
		font-size: var(--subTitSize);
	}
	ul {
		display: flex;
		align-items: center;
		gap: 30px;
		font-size: var(--bodySize2);
		color: rgba(var(--baseColor-code), 0.7);
		li a.on {
			color: var(--pointColor);
			font-weight: 600;
		}
	}

	.themeBox {
		font-size: 1.4rem;
		line-height: 0;
		cursor: pointer;
	}
}
