header {
	width: 100%;
	padding: 40px 10vw;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	position: fixed;
	z-index: 2;
	background-color: rgba(var(--bgColor-code), 0.8);
	transition: transform 0.5s, background-color 1s;
	h1 {
		font-family: var(--pointFont);
		font-size: var(--subTitSize);
		color: rgba(18, 18, 18, 0.9);
		transition: color 0.5s;
	}
	ul {
		display: flex;
		align-items: center;
		gap: 3.3vw;
		li {
			font-size: var(--bodySize2);
			color: rgba(18, 18, 18, 0.9);
			transition: color 0.5s;
			font-weight: 300;
		}
		li a.on {
			color: var(--pointColor);
			font-weight: 600;
			opacity: 1;
		}
	}
	.tabMob {
		font-size: 1.4rem;
		line-height: 0;
		cursor: pointer;
		display: none;
	}
}

header.scrollDown {
	transform: translateY(-100%);
}

.tablet {
	header {
		width: 100%;
		.centerNav {
			display: none;
		}
		.subNav {
			.contact {
				display: none;
			}
			.tabMob {
				display: block;
			}
		}
	}
}

.mobile {
	header {
		width: 100%;
		.centerNav {
			display: none;
		}
		.subNav {
			gap: 20px;
			.contact {
				display: none;
			}
			.tabMob {
				display: block;
			}
		}
	}
}

.dark {
	header {
		h1,
		ul > li {
			color: rgba(255, 255, 255, 0.9);
		}
	}
}
