.Btns {
	position: fixed;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	z-index: 3;

	li {
		width: 10px;
		height: 10px;
		background: var(--baseColor);
		border-radius: 5px;
		cursor: pointer;
		margin: 30px 0px;
		transition: 0.5s;

		&.on {
			background: var(--pointColor);
			height: 100px;
		}
	}
}
