.Btns {
	position: fixed;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	z-index: 3;

	li {
		width: 10px;
		height: 10px;
		// background: var(--baseColor);
		border: 1px dashed var(--baseColor);
		border-radius: 5px;
		cursor: pointer;
		margin: 10px 0px;
		transition: 0.5s;

		&.on {
			border: 1px solid var(--baseColor);
			border: 1px;
			background: var(--pointColor);
			height: 50px;
		}
	}
}

.mobile {
	.Btns {
		left: 15px;
	}
}
