.topCont {
	display: flex;
	width: 100%;
	min-height: 500px;
	margin-top: 100px;
	margin-bottom: 70px;

	.imgBox {
		width: 45%;
		display: flex;
		justify-content: right;
		gap: 20px;
		position: relative;
		left: 20px;
		z-index: 2;

		.person1 {
			width: 35%;
			height: 290px;
			margin-top: 70px;
			position: relative;

			.comment {
				position: absolute;
				top: 10px;
				right: -160px;

				.caption1 {
					font-size: var(--bodySize1);
					font-weight: 500;
				}
				.caption2 {
					font-size: var(--bodySize2);
					font-weight: 300;
				}
			}
			.comment::before {
				content: '';
				width: 60px;
				height: 1px;
				background: rgba(var(--baseColor-code), 0.7);
				position: absolute;
				top: 50%;
				left: -70px;
			}

			.img {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.person2 {
			width: 35%;
			height: 290px;
			margin-top: 140px;
			position: relative;
			.img {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.comment {
				position: absolute;
				bottom: 10px;
				left: -180px;

				.caption1 {
					font-size: var(--bodySize1);
					font-weight: 500;
				}
				.caption2 {
					font-size: var(--bodySize2);
					font-weight: 300;
				}
			}
			.comment::after {
				content: '';
				width: 60px;
				height: 1px;
				background: rgba(var(--baseColor-code), 0.7);
				position: absolute;
				top: 50%;
				right: -60%;
			}
		}
	}

	.textBox {
		width: 55%;
		color: rgba(var(--baseColor-code), 0.9);
		background: rgba(var(--pointColor-code), 0.1);
		padding: 60px 120px;
		position: relative;
		overflow: hidden;
		h2 {
			font-size: var(--titSize2);
			font-weight: 900;
			margin-bottom: 30px;
			font-family: var(--pointFont);
		}
		.con {
			display: flex;
			flex-direction: column;
			gap: 30px;

			article {
				h3 {
					margin-bottom: 7px;
					font-size: var(--subTitSize);
					font-family: var(--pointFont);
					font-weight: 500;
				}
				ul {
					li {
						font-size: var(--bodySize1);
						font-weight: 300;
					}
				}
			}
		}
	}
	.textBox:after {
		content: '9';
		display: inline-block;
		font-size: 40vw;
		font-weight: 900;
		color: white;
		line-height: 0;
		position: absolute;
		top: 140px;
		right: -60px;
	}
}
.bottomCont {
	width: 100%;

	.memberCategory {
		display: flex;
		justify-content: right;
		gap: 50px;
		padding-right: 50px;
		margin-bottom: 20px;
		li {
			h2 {
				font-family: var(--pointFont);
				font-size: var(--subTitSize);
				cursor: pointer;
			}
		}
	}
	.content {
		width: 100%;
		display: flex;
		background: rgba(var(--pointColor-code), 0.1);
		.textPart {
			width: 35%;
			min-height: 500px;

			.textBox {
				width: 75%;
				height: 400px;
				background: var(--pointColor);
				padding: 50px 25px;
				position: relative;
				left: 50%;
				top: 10%;
				transform: translateX(-50%);
				color: var(--baseColorOpposite);

				p {
					margin-bottom: 15px;
					font-size: 1vw;
					font-weight: 100;
				}
				h3 {
					font-size: 1.8vw;
					line-height: 1.5;
					font-weight: 500;
				}
				span {
					font-weight: 100;
					font-size: 1vw;
					display: inline-block;
					padding-top: 30px;
				}
			}
		}
		.introPart {
			width: 67%;
			min-height: 500px;
		}
	}
}
