aside.CookiePopup {
	width: 400px;
	height: 400px;
	// background: rgba(255, 255, 255, 0.7);
	background: rgba(var(--bgColor-code), 0.7);
	box-shadow: 0px 0px 30px black;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	backdrop-filter: blur(7px);
	z-index: 3;
	padding: 15px;

	div.frame {
		border: 4px solid var(--baseColor);
		width: 100%;
		height: 100%;
		position: relative;
		span.close {
			position: absolute;
			right: 7px;
			top: 7px;
			font-size: 1.7rem;
			cursor: pointer;
		}
		.content {
			width: 100%;
			height: 90%;
			h1 {
				font-size: 3rem;
				text-align: center;
				font-weight: 600;
				line-height: 1;
				padding: 20px 0;
			}
			p {
				font-family: var(--pointFont);
				font-weight: bold;
				font-size: 1.4rem;
				text-align: center;
				padding: 20px 0;
				margin: 0 20px;
				border-top: 2px solid var(--baseColor);
				border-bottom: 2px solid var(--baseColor);
			}
		}

		nav {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 8px;
			justify-content: center;
		}
	}
}
